h1 { 
    text-align: center;
}

.contents {
    text-align: center;
}
ul {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}


.pbj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:500px;
    width: auto;

}

.peggy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:500px;
    width: auto;

}

.cereal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:500px;
    width: auto;
}

.button { 
    text-align: center;
}

.button a {
    background-color: green;
}
.button a:hover {
    background-color: yellow;
}