
div {
    text-align: center;
}
.pbj {
    text-align: center;
}
ul {
    display: inline-flex;
    list-style: none;
    padding: 2px;
    
}
.link-list a {
    background-color: red;
    padding: 2px;
    border: 10px;
    display: inline-box;
    list-style: none;

}

.link-list a:hover {
background-color: yellow;
}

.button{
    background-color: red;
    border-left: 1px;
    border-right: 1px;
    padding: 1px;
}
.chef {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:700px;
    width: auto;

    
}

.pbj {
    height: auto;
    width: 550px;
}

.peggy {
    height: auto;
    width: 500px;
}

.cereal {
    height: auto;
    width: 500px;
}